html, body {
  height: 100%;
}

body {
  background: lightcoral;
  font-family: 'Inconsolata';
  font-size: 14px;
  line-height: 1.428571429;
  overflow: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}